@model Category



<form method="post" asp-controller="Category" asp-action="Create">
    <div class="border p-3">
        <div class="row">
            <h2 class="pl-3 mb-3 text-info">Add category</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="Name" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-4">
                        <label asp-for="ShowOrder"></label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" asp-for="ShowOrder" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-success w-100" />
                        </div>
                        <div class="col">
                            <a asp-controller="Category" asp-action="Index" class="btn btn-dark w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>